body{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin-left: 30%;
    margin-right: 30%;
    align-items: center ;
    background-color: antiquewhite;
}
.calculate{
  
    margin-top: 2%;
   
}
img{
    height: 200px;
width: 200px;
}